<!DOCTYPE html>
<html>
  <head>
  	<!--
    <style>
      table {
        border-collapse: collapse;
        border: 2px black solid;
        font: 12px sans-serif;
      }

      td,
      th {
        border: 1px black solid;
        padding: 5px;
      }
    </style> -->
  </head>

  <script src="https://unpkg.com/vue"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

  <body>

    <div id="app">
      <h4>Top 10 of King of the hill leaderboard</h4>
      <table>
      	<thead>
      		<tr>
      			<th> </th>
      			<th> Team Humans </th>
      			<th> Team Ogres </th>
      		</tr>
      	</thead>

        <tbody v-for="person in kingHumans">
          <tr v-for="(entry, index) in person" v-if="index < 10">
            <td> {{ index+1 }} </td>
            <td>{{ entry["creatorName"] }}</td>
            <td> {{ kingOgres[0][index]["creatorName"] }} </td>
          </tr>
        </tbody>
	  </table>
	  <!-- {{ ogres }} -->
	  <!-- {{ humans }} -->
	  <h4>Top 10 of Treasure Games</h4>
      <table>
      	<thead>
      		<tr>
      			<th> </th>
      			<th> Team Humans </th>
      			<th> Team Ogres </th>
      		</tr>
      	</thead>
        <tbody v-for="person in treasureHumans">
          <tr v-for="(entry, index) in person" v-if="index < 10">
            <td> {{ index+1 }} </td>
            <td>{{ entry["creatorName"] }}</td>
            <td> {{ treasureOgres[0][index]["creatorName"] }} </td>
          </tr>
        </tbody>
	  </table>
    </div>
  </body>
</html>

<script>
  var app = new Vue({
    el: "#app",
    data: {
    	kingHumans: [],
    	kingOgres: [],
    	treasureHumans: [],
    	treasureOgres: []
    },
    mounted: function() {
      this.fetchKingHumansData('https://ace4ds5tl9.execute-api.ap-southeast-1.amazonaws.com/default/getJSON?url=https://direct.codecombat.com/db/level/5b1ebdcd2524ba0023e95602.0/leaderboard?order=-1&scoreOffset=1000000&limit=120&team=humans&_=1542101575367');
      this.fetchKingOgresData('https://direct.codecombat.com/db/level/5b1ebdcd2524ba0023e95602.0/leaderboard?order=-1&scoreOffset=1000000&limit=120&team=ogres&_=1542101575368');
      this.fetchTreaHumansData('https://codecombat.com/db/level/5a71c79aacd3800041676ac6.0/leaderboard?order=-1&scoreOffset=1000000&limit=120&team=humans&_=1542101773316');
      this.fetchTreaOgresData('https://codecombat.com/db/level/5a71c79aacd3800041676ac6.0/leaderboard?order=-1&scoreOffset=1000000&limit=120&team=ogres&_=1542101773317');
    },
    methods: {
      fetchKingHumansData(url) {
      	var temp;
        fetch(url)
          .then((response) => {
            return response.json();
          })
          .then((text) => {
            var self = this;
            //console.log(text);
            //temp = text;
            self.kingHumans.push(text);
            console.log(self.kingHumans);
          });
      }, 
      fetchKingOgresData(url) {
      	var temp;
        fetch(url)
          .then((response) => {
            return response.json();
          })
          .then((text) => {
            var self = this;
            self.kingOgres.push(text);
            console.log(self.kingOgres);
          });
      }, 
      fetchTreaHumansData(url) {
      	var temp;
        fetch(url)
          .then((response) => {
            return response.json();
          })
          .then((text) => {
            var self = this;
            //console.log(text);
            //temp = text;
            self.treasureHumans.push(text);
            console.log(self.treasureHumans);
          });
      }, 
      fetchTreaOgresData(url) {
      	var temp;
        fetch(url)
          .then((response) => {
            return response.json();
          })
          .then((text) => {
            var self = this;
            self.treasureOgres.push(text);
            console.log(self.treasureOgres);
          });
      }, 
      /*
      fetchData(url){
      	var xml = new XMLHttpRequest();
      	if(xml){
      	    xml.open("GET", url, true);
      	    console.log(xml.responseText);
      		xml.onreadystatechange = function(){
      	    	if (this.readyState == 4 && this.status == 200){
      	    		var obj = JSON.parse(this.responseText);
      	      		console.log(obj);
      	    	}
      	    };
      	    xml.send();
      	}
      }, */
      /*
      fetchData(url){
      	$.getJSON(url, function(data){
      		console.log(data);
      	})
      }, */
    }
  });
</script>
