<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8" /> -->
    <style>
      table {
        border-collapse: collapse;
        border: 2px black solid;
        font: 12px sans-serif;
      }

      td,
      th {
        border: 1px black solid;
        padding: 5px;
      }
    </style>
  </head>

  <body>
    <!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
    <!--
      <script src="d3.min.js?v=3.2.8">
      </script>
    -->
    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="https://unpkg.com/vue-json-excel"></script> -->
    <!-- <script src="jquery-3.3.1.min.js"></script> -->
    <!--
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    -->
    <!-- <script src="./main.js"></script> -->
    <script src="https://apis.google.com/js/api.js"></script>

    <div id="app">
      <h4>Table using local data</h4>
      <table>
        <thead>
          <tr>
            <th v-for="header in gridCol">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in gridData">
            <td v-for="header in gridCol">{{ entry[header] }}</td>
          </tr>
        </tbody>
      </table>
      <br />
      <h4>Table using methods to pull csv data</h4>
      <p>Using saveData function. Still local data (inputs csv string into function)</p>
      <table>
        <thead>
          <tr>
            <th v-for="header in csvHead">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in csvBody">
            <td>{{ entry[0] }}</td>
            <td>{{ entry[1] }}</td>
          </tr>
        </tbody>
      </table>
      <br />
      <h4>Table using Google iframe</h4>
      <p>
        Changes "live". Ref from
        <a
          href="http://www.bdnyc.org/2012/08/how-to-embed-a-live-google-docs-spreadsheet-into-a-webpage/"
          >here</a
        >
      </p>
      <iframe
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQCsOho3wGlabVbqGFV9YM4eK2Q5p7rHFgkZ3dnT2fRFKVmxGdbe2TgfC9yzAmXMNdRhWmbgf2w1XT6/pubhtml?gid=509534220&amp;single=true&amp;widget=true&amp;headers=false"
      ></iframe>
    </div>
    <!--
      <div id="wrap"><h4>Second Table</h4></div>
      <script>
        $.get("./data.csv", function(data) {
          var build =
            '<table border="1" cellpadding="2" cellspacing="0" style="border-collapse: collapse" width="100%">\n';
          var head = data.split("\n");
          for (var i = 0; i < 1; i++) {
            build += "<tr><th>" + head[i] + "</th></tr>";
            for (var i = 1; i < head.length; i++) {
              build += "<tr><td>" + head[i] + "</td></tr>";
            }
          }
          build += "</table>";
          $("#wrap").append(build);
        });
      </script>
    -->
  </body>
</html>

<script>
  var app = new Vue({
    el: "#app",
    data: function() {
      return {
        gridCol: ["Color", "Count"],
        gridData: [{ Color: "Red", Count: 5 }, { Color: "Blue", Count: 3 }],
        csvHead: [],
        csvBody: []
      };
    },
    mounted: function() {
      //this.readCSV(
      //  "https://docs.google.com/spreadsheets/d/1zDFWwWLaPu5Wmlz6VQJqGaTsl7TuleoxZYdn8B3zFS0/gviz/tq?tqx=out:csv&sheet=colors"
      //);
      //this.saveData("Color,Count\nRed,5\nBlue,3\nYellow,7\nGreen,2");
      //readTextFile("https://docs.google.com/spreadsheets/d/1zDFWwWLaPu5Wmlz6VQJqGaTsl7TuleoxZYdn8B3zFS0/gviz/tq?tqx=out:csv&sheet=colors");
      //this.newFn();
      this.fetchData('https://docs.google.com/spreadsheets/d/1zDFWwWLaPu5Wmlz6VQJqGaTsl7TuleoxZYdn8B3zFS0/gviz/tq?tqx=out:csv&sheet=colors');
      //this.anotherFn();
    },
    methods: {
      fetchData(url) {
        fetch(url)
          .then(function(response) {
            console.log(response.json());
          });
       }, 
    /*
      anotherFn() {
        var self = this;
        console.log("this is before");
        gapi.client.sheets.spreadsheets.values
          .get({
            spreadsheetId: "1RJiaXFQQGw9rxrHvxYn1C25xu494y7W-AP9n1IkXg9E",
            range: "Colors!A1:B1"
          })
          .then(function(response) {
            console.log("executed");
            var result = response.result;
            //var numRows = result.values ? result.values.length : 0;
            var self = this;
            var data = result.values;
            self.csvHead = data[0];
          });
      },*/
      saveData(csv) {
        const self = this;
        var lines = csv.split("\n");
        var body = [];
        self.csvHead = lines[0].split(",");
        console.log(self.csvHead);
        for (var i = 1; i < lines.length; i++) {
          var newLine = lines[i].split(",");
          body.push(newLine);
        }
        console.log(body);
        self.csvBody = body;
        console.log(self.csvBody);
        return body;
      }, 
      /*
  		newFn: function(){
  			const parse = require('csv-parse');
  			const assert = require('assert');
        var input = '"Color","Count"\n"Red","5"\n"Blue","3"\n"Yellow","7"\n"Green","2"';
  			parse(input, function(err, output){
  				var self = this;
  				self.csvHead = output[0];
  				self.csvBody = output[1:];
  			});
  		}, */
      /*
      readCSV: function(file) {
        var self = this;
        if (window.FileReader) {
          var reader = new FileReader();
          reader.readAsText(file.target.files[0]);
          // Handle errors load
          reader.onload = function(event) {
            var csv = event.target.result;
            self.csvBody = self.saveData(csv);
          };
        }
      }, */
      /*
      // will most prob not use this
  	readTextFile(file) {
  		var rawFile = new XMLHttpRequest();
  		var self = this;
  		var open = rawFile.open("GET", file, false);
  		var allText = rawFile.responseText;
  		self.saveData(allText);
  		rawFile.onreadystatechange = function () {
  			if(rawFile.readyState === 4) {
  				if(rawFile.status === 200 || rawFile.status == 0) {
  					var allText = rawFile.responseText;
  					//self.saveData(allText);
  					alert(allText);
  					}
  			//self.saveData(allText)
  				}
  			} rawFile.send(null);
  		}; */
    }
  });
</script>

<!--
  <script type="text/javascript" charset="utf-8">
  	d3.text("data.csv", function(data) {
                  var parsedCSV = d3.csv.parseRows(data);

                  var container = d3.select("body")
                      .append("table")

                      .selectAll("tr")
                          .data(parsedCSV).enter()
                          .append("tr")

                      .selectAll("td")
                          .data(function(d) { return d; }).enter()
                          .append("td")
                          .text(function(d) { return d; });
              });
  </script>
-->
